# POSCO

Cases in India related to the POSCO act. A exploratory data analysis of child specific legal activity tracker.

In [4]:
%ls

mh_pocso_processed_01.csv*  Nashik/  posco.ipynb*  Pune/  Thane/

In [25]:
import pandas as pd
import matplotlib
import seaborn as sb

In [179]:
df = pd.read_csv(
    'mh_pocso_processed_01.csv',
    encoding='utf-8',
    parse_dates=['date_of_decision', 'date_last_list', 'date_of_filing']
)

## Data Columns

- **cino:** 
- **disp_nature:** nature of disposal
- **fil_year:** the year in which the case was filed
- **jcode:**
- **date_of_decision:**
- **reg_year:** the year in which the case was registered
- **transfer_est_name:**
- **lower_court_dec_dt:**
- **fir_year:** the year in which the FIR was registered
- **pet_adv:**
- **type_name:** the type of case (categorical)
- **res_name:**
- **petNameAdd:**
- **subordinateCourtInfoStr:**
- **lower_court_code:**
- **res_adv:**
- **petparty_name:**
- **purpose_next:**
- **est_code:**
- **state_name:**
- **date_last_list:** the date on which the last hearing was made for this case
- **court_no:**
- **reg_no:**
- **dt_regis:**
- **date_of_filing:** the full date on which the case was filed
- **purpose_name:** 
- **fir_no:** the FIR number
- **police_st_code:**
- **district_code:**
- **courtno:**
- **case_no:**
- **desgname:**
- **pet_name:** Petitioner's name
- **resparty_name:**
- **fir_details:** Usually containing the name of the person who registered the FIR
- **court_name:**
- **district_name:**
- **police_station:**
- **police_station_id:**
- **lon:** Longitude of the police station location
- **lat:** Latitude of the police station location

In [180]:
df.shape

(4353, 42)

In [181]:
df.columns

Index(['cino', 'disp_nature', 'fil_year', 'jcode', 'date_of_decision',
       'reg_year', 'transfer_est_name', 'lower_court_dec_dt', 'fir_year',
       'pet_adv', 'type_name', 'res_name', 'petNameAdd',
       'subordinateCourtInfoStr', 'lower_court_code', 'res_adv',
       'petparty_name', 'purpose_next', 'est_code', 'state_name',
       'date_last_list', 'court_no', 'reg_no', 'dt_regis', 'date_of_filing',
       'purpose_name', 'fir_no', 'police_st_code', 'district_code', 'courtno',
       'case_no', 'desgname', 'pet_name', 'resparty_name', 'fir_details',
       'court_name', 'district_name', 'police_station', 'police_station_id',
       'lon', 'lat', 'geojson'],
      dtype='object')

In [182]:
df.dtypes

cino                               object
disp_nature                         int64
fil_year                            int64
jcode                             float64
date_of_decision           datetime64[ns]
reg_year                            int64
transfer_est_name                  object
lower_court_dec_dt                  int64
fir_year                            int64
pet_adv                            object
type_name                          object
res_name                           object
petNameAdd                         object
subordinateCourtInfoStr            object
lower_court_code                    int64
res_adv                            object
petparty_name                      object
purpose_next                        int64
est_code                           object
state_name                         object
date_last_list             datetime64[ns]
court_no                            int64
reg_no                              int64
dt_regis                           object
date_of_filing             datetime64[ns]
purpose_name                       object
fir_no                            float64
police_st_code                      int64
district_code                       int64
courtno                           float64
case_no                             int64
desgname                           object
pet_name                           object
resparty_name                      object
fir_details                        object
court_name                         object
district_name                      object
police_station                     object
police_station_id                   int64
lon                               float64
lat                               float64
geojson                            object
dtype: object

In [ ]:
df.purpose

In [184]:
df[['purpose_name', 'purpose_next']]

                        purpose_name  purpose_next
0                             Charge             8
1                      Unready Board            78
2                         Appearance            67
3                             Charge             8
4                Evidence Part Heard             3
5                             Charge             8
6                             Charge             8
7                             Charge             8
8     Filing of Say on Exh___Unready            27
9                   Defence Evidence            30
10                        Compliance            41
11                            Charge             8
12                            Charge             8
13                            Charge             8
14                            Charge             8
15                            Charge             8
16                            Charge             8
17                            Charge             8
18                            Charge             8
19                            Charge             8
20                        Compliance            41
21                     Unready Board            78
22                            Charge             8
23                            Charge             8
24                             Order            22
25                            Charge             8
26               Evidence Part Heard             3
27                           Hearing             4
28                            Charge             8
29                             Order            22
...                              ...           ...
4323                          Charge             8
4324                          Charge             8
4325                          Charge             8
4326                          Charge             8
4327                          Charge             8
4328                          Charge             8
4329                          Charge             8
4330                          Charge             8
4331                          Charge             8
4332                          Charge             8
4333                    Order on Exh            23
4334  Filing of Say on Exh___Unready            27
4335                      Appearance            67
4336                          Charge             8
4337                          Charge             8
4338                      Appearance            67
4339                          Charge             8
4340                          Charge             8
4341                          Charge             8
4342    Filing of Say on Exh___Ready            26
4343                          Charge             8
4344                          Charge             8
4345                          Charge             8
4346                          Charge             8
4347                          Charge             8
4348                          Charge             8
4349                          Charge             8
4350                      Appearance            67
4351                          Charge             8
4352  Filing of Say on Exh___Unready            27

[4353 rows x 2 columns]

## Court establishment-wise cases

In [128]:
df.court_name.value_counts()

DISTRICT AND SESSIONS COURT PUNE MAHARASHTRA       1744
DISTRICT AND SESSIONS COURT, THANE                 1257
ADDL.DIST.  SESSIONS COURT KALYAN                   658
ADDITIONAL DISTRICT AND SESSIONS COURT BARAMATI     341
ADDL. DISTRICT COURT, KHED                          190
DISTRICT AND SESSIONS COURT NASHIK.                 158
J.M.F.C.COURT PUNE MAHARASHTRA                        2
CIVIL COURT VADAGAON MAVAL                            1
CRIMINAL COURTS BARAMATI DIST PUNE                    1
J.M.F.C. CANTONMENT COURT PUNE M.S.                   1
Name: court_name, dtype: int64

In [155]:
df.shape

(4353, 41)

## District-wise cases

In [156]:
df.district_name.value_counts()

Pune      2280
Thane     1915
Nashik     158
Name: district_name, dtype: int64

### Count of types of cases

In [157]:
df.type_name.value_counts()

Spl.Case Child Prot.    3360
Atro.Spl.Case            645
Sessions Case            184
Spl.Case                  59
Cri.Bail Appln.           54
Spl.M.A. Child Prot.      35
Spl.Case ACB               4
R.C.C.                     4
Cri.M.A.                   3
Cri.Appeal                 3
S.C.C.                     1
PWDVA Appeal               1
Name: type_name, dtype: int64

In [140]:
df.groupby('type_name')['disp_nature'].value_counts().sort_values(ascending=False)

type_name             disp_nature
Spl.Case Child Prot.  0              3360
Atro.Spl.Case         0               645
Sessions Case         0               184
Spl.Case              0                59
Cri.Bail Appln.       0                54
Spl.M.A. Child Prot.  0                35
Spl.Case ACB          0                 4
R.C.C.                0                 4
Cri.M.A.              0                 3
Cri.Appeal            0                 3
S.C.C.                0                 1
PWDVA Appeal          0                 1
Name: disp_nature, dtype: int64

### Number of police stations across all cases

In [176]:
df.police_station.value_counts().head()

Yerwada Police Station     111
Kondwa Police Station      100
Hadapsar Police Station     95
Mumbra Police Station       80
Kashmira Police Station     67
Name: police_station, dtype: int64

In [170]:
df.

Index(['cino', 'disp_nature', 'fil_year', 'jcode', 'date_of_decision',
       'reg_year', 'transfer_est_name', 'lower_court_dec_dt', 'fir_year',
       'pet_adv', 'type_name', 'res_name', 'petNameAdd',
       'subordinateCourtInfoStr', 'lower_court_code', 'res_adv',
       'petparty_name', 'purpose_next', 'est_code', 'state_name',
       'date_last_list', 'court_no', 'reg_no', 'dt_regis', 'date_of_filing',
       'purpose_name', 'fir_no', 'police_st_code', 'district_code', 'courtno',
       'case_no', 'desgname', 'pet_name', 'resparty_name', 'fir_details',
       'court_name', 'district_name', 'police_station', 'police_station_id',
       'lon', 'lat'],
      dtype='object')

# Hearings

In [228]:
hearings_df = pd.read_csv(
    'mh_pocso_case_history_02.csv',
    encoding='utf-8'
)
hearings_df['Hearing Date'] = pd.to_datetime(hearings_df['Hearing Date'], dayfirst=True)
hearings_df['Business On Date'] = pd.to_datetime(hearings_df['Business On Date'], dayfirst=True)

In [229]:
hearings_df['diff_days'] = hearings_df['Hearing Date'] - hearings_df['Business On Date']

In [230]:
print(hearings_df.shape)
hearings_df.head()

(94828, 6)

,Judge,Business On Date,Hearing Date,Purpose of hearing,cino,diff_days
0,DISTRICT JUDGE-1 AND ADDL. SESSIONS JUDGE,2017-01-13,2017-02-03,Unready Board,MHNS010000282017,21 days
1,DISTRICT JUDGE-1 AND ADDL. SESSIONS JUDGE,2017-02-03,2017-02-22,Charge,MHNS010000282017,19 days
2,DISTRICT JUDGE-1 AND ADDL. SESSIONS JUDGE,2017-02-22,2017-03-08,Charge,MHNS010000282017,14 days
3,DISTRICT JUDGE-1 AND ADDL. SESSIONS JUDGE,2017-03-08,2017-04-07,Charge,MHNS010000282017,30 days
4,DISTRICT JUDGE-9 AND ADDL.SESSIONS JUDGE,2017-04-07,2017-05-06,Charge,MHNS010000282017,29 days

### Types of hearings and their count across all cases

In [231]:
hearings_df['Purpose of hearing'].value_counts().head(10)

Charge                           33945
Hearing                          13406
Appearance                        9038
Evidence Part Heard               8262
Evidence                          5533
Production of Accused             4869
N.B.W._Unready                    3070
N.B.W._Ready                      2261
Say / Hearing on Exh____Ready     1707
Argument on Exh.____Unready       1636
Name: Purpose of hearing, dtype: int64

### Number of days between the first and the last hearing per case

In [232]:
hearings_df.groupby('cino')['diff_days'].sum().sort_values(ascending=False).head()

cino
MHPU010053482013   2155 days
MHPU010049732013   2120 days
MHTH010046122013   2094 days
MHPU010064562013   2067 days
MHPU010065112013   2058 days
Name: diff_days, dtype: timedelta64[ns]

### Number of hearings per case

In [167]:
hearings_df.cino.value_counts().head()

MHTH010073092013    141
MHPU010119862013    139
MHTH010004752014    133
MHTH010032952014    128
MHTH010036282014    118
Name: cino, dtype: int64

In [172]:
df_merged = pd.merge(df, hearings_df, on=['cino'])

In [178]:
df_merged.groupby('district_name')['disp_nature'].value_counts()

district_name  disp_nature
Nashik         0               2011
Pune           0              51636
Thane          0              41267
Name: disp_nature, dtype: int64

In [234]:
hearings_df.head()

,Judge,Business On Date,Hearing Date,Purpose of hearing,cino,diff_days
0,DISTRICT JUDGE-1 AND ADDL. SESSIONS JUDGE,2017-01-13,2017-02-03,Unready Board,MHNS010000282017,21 days
1,DISTRICT JUDGE-1 AND ADDL. SESSIONS JUDGE,2017-02-03,2017-02-22,Charge,MHNS010000282017,19 days
2,DISTRICT JUDGE-1 AND ADDL. SESSIONS JUDGE,2017-02-22,2017-03-08,Charge,MHNS010000282017,14 days
3,DISTRICT JUDGE-1 AND ADDL. SESSIONS JUDGE,2017-03-08,2017-04-07,Charge,MHNS010000282017,30 days
4,DISTRICT JUDGE-9 AND ADDL.SESSIONS JUDGE,2017-04-07,2017-05-06,Charge,MHNS010000282017,29 days

In [188]:
df_merged[['cino', 'purpose_name', 'Hearing Date']].sort_values(by='Hearing Date', ascending=False).head()

                   cino     purpose_name Hearing Date
61722  MHTH060035902018           Charge   2019-12-07
84647  MHTH010059452018  List of Witness   2019-12-04
53801  MHTH060000532016           Charge   2019-12-04
66468  MHTH010009392018           Charge   2019-12-04
70499  MHTH010020602014   N.B.W._Unready   2019-12-04

### Judge-wise days spent based on hearing type (`purpose_name`)

In [245]:
df_merged.groupby(['Judge', 'purpose_name'])['diff_days'].sum()

Judge                                          purpose_name
3RD JT.C.J.J.D.J.M.F.C. BARAMATI.              N.B.W._Unready                     121 days
4th CJJD AND JMFC VADGAON MAVAL                Charge                             106 days
4th JT. C.J.J.D. AND J.M.F.C. BARAMATI.        N.B.W._Unready                     774 days
6th C.J.J.D.  J.M.F.C. BARAMATI                N.B.W._Unready                     259 days
AD-HOC D.J.-3 AND ASSTT.SESSIONS JUDGE         Charge                             -95 days
                                               Hearing                             27 days
AD-HOC DISTRICT JUDGE-1 ADDL.SESS.JUDGE        Charge                             -83 days
                                               Hearing                            -82 days
ADDL. DISTRICT JUDGE, KHED.                    Arguments                         1822 days
                                               Charge                           35362 days
                                               Evidence Part Heard              19361 days
                                               Hearing                          16242 days
                                               Judgment                          2472 days
                                               N.B.W._Ready                      1260 days
                                               Statement U/sec.313 Cr.P.C.       1330 days
                                               Unready Board                        5 days
ADHOC D.J. 1 AND ADJ BARAMATI DISTRICT PUNE.   Appearance                         819 days
                                               Argument on Exh.____Unready        582 days
                                               Arguments                          631 days
                                               Awaiting Summons                    22 days
                                               B.W._Ready                         204 days
                                               B.W._Unready                       230 days
                                               Charge                            6957 days
                                               Evidence                            88 days
                                               Evidence Part Heard               1327 days
                                               Formal Hearing                    -176 days
                                               Hearing                           8988 days
                                               N.B.W._Ready                       925 days
                                               N.B.W._Unready                    2087 days
                                               Notice_Unready                    1013 days
                                                                                   ...
PRINCIPAL DISTRICT  AND SESSIONS JUDGE PUNE    Hearing                           6695 days
                                               N.B.W._Ready                      1776 days
                                               N.B.W._Unready                     261 days
                                               Statement U/sec.313 Cr.P.C.        409 days
PRINCIPAL DISTRICT AND SESSIONS JUDGE, NASHIK  Appearance                         891 days
                                               Argument on Exh.____Ready          297 days
                                               Argument on Exh.____Unready        149 days
                                               Arguments                          347 days
                                               Awaiting Summons                   148 days
                                               B.W._Ready                          88 days
                                               Charge                           14878 days
                                               Defence Evidence                    77 days
                                               Documents                          156 days
                                               Evidence Part Heard               1278 days
                                               Filing of Say on Exh___Ready        67 days
                                               Filing of Say on Exh___Unready     107 days
                                               Hearing                           3259 days
                                               N.B.W._Ready                       839 days
                                               N.B.W._Unready                      56 days
                                               Order                              795 days
                                               Order on Exh                       531 days
                                               Say / Hearing on Exh____Ready      123 days
Principal District and  Sessions Judge Thane   Hearing                            143 days
VACANT COURT 31052015                          Arguments                           78 days
                                               Evidence                            26 days
                                               Evidence Part Heard                 86 days
                                               Filing of Say on Exh___Ready       263 days
                                               Hearing                            359 days
                                               N.B.W._Ready                       544 days
                                               N.B.W._Unready                     261 days
Name: diff_days, Length: 1061, dtype: timedelta64[ns]

### Number of unique cases handled by judges (max 10 & min 20)

In [255]:
df_merged.groupby('Judge')['cino'].nunique().sort_values(ascending=False).head(10)

Judge
District Judge-7 and Additonal Sessions Judge, Thane    959
District Judge-8 Addl. Sessions JudgeThane              696
District Judge-1  Addl.Sessions JudgeThane              472
District Judge - 5  Addl. Sessions Judge Thane          448
District Judge -6   Addl. Sessions Judge Thane          426
District Judge-9 and Addl. Sessions Judge Thane         387
Ad-hoc Dist. Judge-2 and Addl. Sessions Judge Thane     371
Ad-hoc Dist.Judge 1  Addl. Sessions JudgeThane          369
DISTRICT JUDGE -13  ADDL. SESSIONS JUDGE PUNE           342
DISTRICT JUDGE - 1 AND  ADDL. SESSIONS JUDGE PUNE       330
Name: cino, dtype: int64

In [254]:
df_merged.groupby('Judge')['cino'].nunique().sort_values(ascending=False).tail(20)

Judge
ADHOC DISTRICT JUDGE-3 BARAMATI DISTRICT PUNE.          6
ADHOC DIST. JUDGE-3 AND  ASST.SESSIONS JUDGE PUNE       6
DISTRICT JUDGE-9 AND ASSITT SESSJUDGE                   5
District Judge 2 and Addl.Sessions Judge,Kalyan         5
DISTRICT JUDGE - 1 ADDL. SESSIONS JUDGE PUNE            4
DISTRICT JUDGE-3 AND ADDL.SESS.JUDGE                    3
DISTRICT JUDGE-2 AND ADDL.SESSIONS JUDGE                3
AD-HOC DISTRICT JUDGE-1 ADDL.SESS.JUDGE                 2
DISTRICT JUDGE-24 AND ADDL. SESSIONS JUDGE PUNE         2
AD-HOC D.J.-3 AND ASSTT.SESSIONS JUDGE                  2
4th CJJD AND JMFC VADGAON MAVAL                         1
4th JT. C.J.J.D. AND J.M.F.C. BARAMATI.                 1
6th C.J.J.D.  J.M.F.C. BARAMATI                         1
Principal District and  Sessions Judge Thane            1
Jt.C.J.J.D. AND J.M.F.C. COURT VADGAON MAVAL            1
JT. JUDICIAL MAGISTRATE F. C.                           1
JOINT CIVIL JUDGE J.D. AND JMFC PUNE.                   1
CHIEF JUDICIAL MAGISTRATE PUNE                          1
Ad-hoc Dist.Judge 2  and Asst. Sessions Judge, Thane    1
3RD JT.C.J.J.D.J.M.F.C. BARAMATI.                       1
Name: cino, dtype: int64

In [257]:
df.petparty_name.value_counts()

State of Maharashtra                                                   624
State OF Maharashtra                                                    66
State Of Maharashtra                                                    54
The State of Maharashtra Kondhwa P Stn                                  52
The State of Maharashtra Hadapsar P Stn                                 45
The State of Maharashtra Yerwada P Stn                                  45
Kolshewadi Police Station                                               41
Hilline Police Station                                                  35
Manpada Police Station                                                  35
Ambarnath Police Station                                                34
Vitthalvadi Police Station                                              34
Central Police Station                                                  33
Khadakpada Police Station Kalyan                                        30
The State of Maharashtra Wakad P Stn                                    29
Badlapur Police Station                                                 27
State Of Maharashtra/Khed Police Station                                26
State of Maharashtra Yerwada P Stn                                      25
State Of Maharashtra/Chakan Police Station                              25
State of Maharashtra Kondhwa P Stn                                      25
The State of Maharashtra Shirur P Stn                                   24
Shivaji Nagar Police Station                                            22
The State of Maharashtra Bharati Vidyapith P Stn                        22
State of Maharashtra Hadapsar P Stn                                     21
The State of Maharashtra Lonikand P Stn                                 21
The State of Maharashtra Nigdi P Stn                                    21
Ulhasnagar Police Station                                               21
State Ambernath Police Station                                          20
The State of Maharashtra Pimpri P Stn                                   20
The State of Maharashtra MIDC Bhosari P Stn                             19
The State of Maharashtra Faraskhana P Stn                               19
                                                                      ...
The State  Mumbra Plc. Stn. Dist. Thane                                  1
The State of Maharashtra Wanwadi P.S.                                    1
State of Maharashtra through Sanpada Police Station, Navi Mumbai         1
The State Mira Rd. Police Stn. Dist. Thane                               1
State Dombivali police station                                           1
State of MaharashtraChakan Police Station                                1
Sagar Hona Utale                                                         1
The State of Maharashtra Khadaki Po Stn                                  1
State of Maharashtra etc 1                                               1
The State of Maharashtra Turbe MIDC Police Station Dist Thane            1
Mukim Bhuresab Shaikh                                                    1
The State of Maharashtra Wadak P Stn                                     1
Kasara Police Station                                                    1
State of Maharashtra Sangavi P Stn                                       1
Najish Abugalib Shaikh                                                   1
The State of Maharashtra Velha  P Stn.                                   1
The State of Maharashtra Sangvi  P.Stn.                                  1
State  of Maharashtra                                                    1
The State of Maharashtra Sinhagad Road P.Stn.                            1
The State of Maharashtra Wanawadi PStn                                   1
The State of MaharashtraThe State of Maharashtra MIDC Bhosari P Stn      1
The State of Maharashtra  Lashkar P Stn                                  1
The State of Maharashtra MIDC Bhosari P  Stn                             1
The State of Maharashtra Warje Malwadi P.S.                              1
The State of Maharashtra Dattawdi P Stn                                  1
State Of Maharashtra/Narayangaon Police Statioin                         1
State of Maharashtra Through Padgha Police Station                       1
The State Nerul Police Station, Dist. Thane                              1
The State Kasarvadvli Pol. Stn. Dist. Thane                              1
State of Maharashtra Wagle Estate Plc stn. Thane                         1
Name: petparty_name, Length: 1109, dtype: int64